@import "node_modules/bootstrap/scss/bootstrap";

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.wrapper {
  background-color: #F5F5F5;
  max-width: 1440px;
  margin: 56px auto 0 auto;
  padding-top: 25px;

}

header {
  position: fixed;
  height: 56px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 5000;
  padding: 0 405px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .logo {
    width: 152px;
    height: 40px;
    margin-left: 10px;
  }

  .burger {
    display: none;
  }

  .person {
    display: none;
  }

}

.a-href {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
}
.aside-card {
  width: 261px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.orange-text {
  color: #ff7f50;
}
.cover-mobile1 {
  display: none;
}

.card-text-mobile {
  display: none;
}

.main {
  display: flex;
  justify-content: center;

}


.mobile {
  display: none;
  width: 360px;
  height: 500px;
}

.block {
  width: 830px;
}

h2, h3 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  color: #424242;
  margin-bottom: 20px;
  text-wrap: nowrap;

}

h3 {
  font-size: 28px;
  margin-top: 40px;
  margin-left: 10px;
}
.f-s-14 {
  font-size: 14px;
}
.m-t--15 {
  margin-top: -15px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.w-261 {
  width: 261px;
}
.w-800 {
  width: 800px;
}
.w-810 {
  width: 800px;
}
.m-0-auto {
  margin: 0 auto;
}
.w-437 {
  width: 437px;
}
.m-b-20 {
  margin-bottom: 20px;
}

.w-100vw {
  width: 100vw;
}

.card-container-text {
  padding: 20px;
  z-index: 2000;
  height: 361px;
}

.card-title {
  font-weight: 800;
  font-size: 36px;
  color: #424242;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 550px;
}

.card-text {
  width: 297px;
}

.card-otz {
  width: 261px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: inline-block;
  margin-left: 10px;
  padding: 20px 20px 60px 20px;

}

.text-muted {
  vertical-align: super;
  font-size: 13px;
  color: #868686;
}


.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 8px 12px;
  border-radius: 5px;
  color: #383838;
  opacity: 80%;
  font-size: 14px;
  font-weight: bold;
}

.span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #383838;
  text-align: left;
}

.badge.span {
  background-color: rgba(28, 28, 28, 0.05);
}


.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-img-top {
  width: 510px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 100;
}

.card-text {

}

.breadcrumb {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0;
  color: #424242;
}

.col-lg-8 {
  width: 831px;
  height: 361px;
}

.btn-warning {
  background-color: #ff7f50;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.progress-container {
  width: 100%;
  margin: 20px auto;
  background-color: #e0e0e0;
  height: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 261px;
  background-color: #888888;
  border-radius: 10px;
  transition: width 0.4s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.badge {
  color: #383838;
  background-color: #e0e0e0;
  margin-bottom: 5px;
}

.font-14 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0;
  color: #5E5E5E;
}

.width {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.count-mobile {
  display: none;
}

.svg {
  display: none;
}

@media (max-width: 1660px){
  header {
    padding: 0 205px;
  }
}

@media (max-width: 1440px){
  header {
    padding: 0 150px;
  }
}



@media (max-width: 984px) {
  body {
    background-color: #F5F5F5;
    max-height: 1363px;
  }
  header {
    width: 105vw;
    height: 44px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;

    .trio {
      display: none;
    }

    .burger {
      display: block;
    }

    .person {
      display: block;
      margin-right: 10px;
    }

    .logo {
      width: 104px;
      height: 28px;
    }
  }
  .card-body-desktop {
    display: none;
  }

  aside {
    display: none;
  }
  .breadcrumb {
    display: none;
  }
  .mobile {
    display: block;
  }

  main {
         margin: 0 auto ;
    }

  .cover-mobile1 {
    display: block;
    width: 100%;
    height: auto;
    margin: -40px 0;

  }
  .col-lg-8 {
    display: none;
  }
  .card-text-mobile {
    max-width: 360px;
    display: block;
    background: white;


  }
  h5.card-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    color: #424242;
    opacity: 1;
    border-radius: 0;
    width: 336px;
    height: 34px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .badge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .badge-container-two {
    margin-bottom: -10px;
  }

  .badge {
    padding: 6px 12px;
    font-size: 0.875rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #343a40;
  }
  .card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #424242;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;

  }
  .count {
    display: none;
  }
  .count-mobile {
    display: block;
    font-size: 13px;
    margin: 10px;
  }
  section h3 {
    margin-top: 70px;
    margin-bottom: -5px;
  }
  .svg {
    display: block;
    margin-top: -10px;
    margin-left: -20px;
  }
  .progress-container {
    display: none;
  }
  .btn-warning {

  }
  .btn-warning-mobile {
    display: block;
    width: 340px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-otz {
    width: 261px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 20px 60px 20px;
    margin-left: 10px;
  }
  .text-center {
    width: 360px;

    .btn-warning-desk {
      display: none;
    }

    .btn-warning-mob {
      width: 95%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px
    }
    section {
      margin: 0 auto;
    }

  }
}

